.redbanner-container {
    background-color: rgb(239, 84, 102);
    color: white;
    padding: 80px 230px;
}

svg{
    fill: white;
}

.container-icons{
    text-align: center;
    padding: 55px 0 55px 200px !important;
}

.div-icon{
    float: left;
    margin-left: 45px;
}